<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>We use Bluetooth to connect to other devices</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>We need to advertise our presence to connect to other devices.</string>
</dict>
</plist>
